<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książki</title>
    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/bootstrap.min.css} "/>
</head>
<body>
<h1>Lista książek <form th:action="@{/book/add}"><button type="submit" class="btn btn-primary">Dodaj książkę</button></form></h1>

<table class="table table-hover">
    <thead>
        <th>Id</th>
        <th>Nazwa</th>
        <th />
    </thead>

    <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">123</td>
            <td th:text="${book.name}">The Expanse</td>
            <td>
                <form th:action="@{/book/rent/__${book.id}__}">
                    <button type="submit" class="btn btn-primary">Wypożycz</button>
                </form>
            </td>
            <td>
                <form th:action="@{/book/edit/__${book.id}__}">
                    <button type="submit" class="btn btn-secondary">Edytuj książkę</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

</body>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/assets/bootstrap/bootstrap.min.js}"></script>

</html>