<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książki</title>
</head>
<body>
<h1>Lista książek</h1>

<table>
    <thead>
        <th>Id</th>
        <th>Nazwa</th>
        <th />
    </thead>

    <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">123</td>
            <td th:text="${book.name}">The Expanse</td>
            <td>
                <form th:action="@{/rentABook/__${book.id}__}">
                    <button type="submit">Wypożycz</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>