<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Czytelnicy</title>
    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/bootstrap.min.css} "/>
</head>
<body>
<h1>Lista wypożyczonych książek</h1>

<table class="table table-hover">
    <thead>
    <th>Lp.</th>
    <th>Nazwa książki</th>
    <th>Data wypożyczenia</th>
    <th>Data zwrócenia</th>
    </thead>

    <tbody>
    <tr th:each="borrowedBook : ${borrowedBooks}">
        <td th:text="${borrowedBookStat.index+1}">123</td>
        <td th:text="${borrowedBook.bookName}">Książka</td>
        <td th:text="${borrowedBook.borrowTimestamp}">data</td>
        <td th:text="${borrowedBook.returnTimestamp}">data</td>
        <td>
            <button th:if="${borrowedBook.returnTimestamp == null}" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#returnTheBookModel" th:attr="data-reader-id=${readerId},data-book-id=${borrowedBook.bookId},data-book-name=${borrowedBook.bookName}">Zwróć</button>
            <div th:insert="readers/modalReturnTheBook" />
        </td>
    </tr>
    </tbody>
</table>

<form th:action="${T(kozlowski.rafal.publicLibrary.controllers.reader.ListReaderController).ListReadersUrl}">
    <button type="submit" class="btn btn-primary float-right">Wróć do czytelników</button>
</form>

</body>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/assets/bootstrap/bootstrap.min.js}"></script>


<script th:inline="javascript">
    /*<![CDATA[*/

    jQuery(document).ready(function() {
        jQuery(document).on('show.bs.modal', '#returnTheBookModel', function (event) {
            const button = jQuery(event.relatedTarget);
            const readerId = button.data('reader-id');
            const bookId = button.data('book-id');
            const bookName = button.data('book-name');
            const modal = jQuery(this);
            modal.find('.modal-body').html(bookName);

            modal.find('.btn-primary').on('click', function(e) {
                e.preventDefault();
                const url = /*[[${T(kozlowski.rafal.publicLibrary.controllers.reader.BorrowedBooksController).ReturnBorrowedBook}]]*/;
                jQuery.post(url, { readerId: readerId, bookId: bookId }, function(d) {
                    modal.modal('hide');
                    window.location.reload();
                });
            });
        });
    });

    /*]]>*/
</script>

</html>