<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Czytelnicy</title>
    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/bootstrap.min.css} "/>
</head>
<body>
<h1>Lista czytelników</h1>

<table class="table table-hover">
    <thead>
        <th>Id</th>
        <th>Imię</th>
        <th>Naziwsko</th>
        <th />
    </thead>

    <tbody>
        <tr th:each="reader : ${readers}">
            <td th:text="${reader.id}">123</td>
            <td th:text="${reader.firstname}">Jasiu</td>
            <td th:text="${reader.lastname}">Kowalski</td>
            <td>
                <form th:action="@{/borrow/byReader/__${reader.id}__}">
                    <button type="submit" class="btn btn-primary">Wypożycz</button>
                </form>
            </td>
            <td>
                <form th:action="@{/reader/edit/__${reader.id}__}">
                    <button type="submit" class="btn btn-secondary">Edytuj czytelnika</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<form th:action="@{/reader/add}">
    <button type="submit" class="btn btn-primary float-right">Dodaj czytelnika</button>
</form>

</body>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/assets/bootstrap/bootstrap.min.js}"></script>

</html>