<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Czytelnicy</title>
    <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/bootstrap.min.css} "/>
</head>
<body>
<h1>Lista czytelników</h1>

<table class="table table-hover">
    <thead>
        <th>Id</th>
        <th>Imię</th>
        <th>Naziwsko</th>
        <th />
        <th />
        <th />
    </thead>

    <tbody>
        <tr th:each="reader : ${readers}">
            <td th:text="${reader.id}">123</td>
            <td th:text="${reader.firstname}">Jasiu</td>
            <td th:text="${reader.lastname}">Kowalski</td>
            <td>
                <form class="float-left" th:action="${T(kozlowski.rafal.publicLibrary.controllers.borrow.BorrowBookController).BorrowABookByReaderUrl + reader.id}">
                    <button type="submit" class="btn btn-primary">Wypożycz książkę</button>
                </form>
                <form class="float-left ml-3" th:action="${T(kozlowski.rafal.publicLibrary.controllers.reader.BorrowedBooksController).ListBorrowedBooks + reader.id}">
                    <button type="submit" class="btn btn-info">Wypożyczone książki</button>
                </form>
            </td>
            <td>
                <form th:action="${T(kozlowski.rafal.publicLibrary.controllers.reader.EditReaderController).EditReaderUrl + reader.id}">
                    <button type="submit" class="btn btn-secondary">Edytuj czytelnika</button>
                </form>
            </td>
            <td>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteReaderModal" th:attr="data-reader-firstname=${reader.firstname},data-reader-lastname=${reader.lastname},data-reader-id=${reader.id}">Usuń czytelnika</button>
                <div th:insert="readers/modalDeleteReader" />
            </td>
        </tr>
    </tbody>
</table>

<form th:action="${T(kozlowski.rafal.publicLibrary.controllers.reader.AddReaderController).AddReaderUrl}">
    <button type="submit" class="btn btn-primary float-right">Dodaj czytelnika</button>
</form>

</body>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/assets/bootstrap/bootstrap.min.js}"></script>


<script th:inline="javascript">
    /*<![CDATA[*/

    jQuery(document).ready(function() {
        jQuery(document).on('show.bs.modal', '#deleteReaderModal', function (event) {
            const button = jQuery(event.relatedTarget);
            const readerId = button.data('reader-id');
            const readerFirstname = button.data('reader-firstname');
            const readerLastname = button.data('reader-lastname');
            const modal = jQuery(this);
            modal.find('.modal-body').html(readerFirstname + ' ' + readerLastname);

            modal.find('.btn-primary').on('click', function(e) {
                e.preventDefault();
                const url = /*[[${T(kozlowski.rafal.publicLibrary.controllers.reader.DeleteReaderController).DeleteReaderModalWindowUrl}]]*/;
                jQuery.post(url, { readerId: readerId }, function(d) {
                    modal.modal('hide');
                    window.location.reload();
                });
            });
        });
    });

    /*]]>*/
</script>

</html>